<%= form_with(model: post, :html => {class: "form-horizontal", role: "form"}) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
  <div class="control-label col-sm-2">
    <%= form.label :title %>
    </div>
    <%= form.text_field :title %>
  </div>

  <div class="form-group">
  <div class="control-label col-sm-2">
    <%= form.label :content %>
    </div>
    <%= form.text_field :content %>
  </div>

  <div class="form-group">
  <div class="control-label col-sm-2">
    <%= form.label :premium, class: "checkbox-inline input_checkbox" %>
    </div>
    <%= form.check_box :premium, class: "checkbox" %>
  </div>

  <div class="form-group">
    <%= form.submit class: 'btn btn-primary btn-lg col-sm-7' %>
  </div>
<% end %>
